{% extends 'base.html' %}
{% load static %}


{% block title %}
Home
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div id="fastValues">
    <p>Cotação atual</p>
    <div>
        <img src="{% static 'img/dollar-symbol.png' %}" alt="dolar simbolo">
        <h3>R$ {{dolar}}</h3>
    </div>
    <div>
        <img src="{% static 'img/euro-symbol.png' %}" alt="euro simbolo">
        <h3>R$ {{euro}}</h3>
    </div>
    <div>
        <img src="{% static 'img/bitcoin-symbol.png' %}" alt="bitcoin simbolo">
        <h3>R$ {{bitcoin}}</h3>
    </div>
</div>
<div id="divbtn">
    <a href="{% url 'exchange-page' %}" class="btn">Conversão</a>
    <a href="{% url 'exchange-page' %}" class="btn">Conversão</a>
    <a href="{% url 'exchange-page' %}" class="btn">Conversão</a>
</div>
{% endblock %}
